.products__list {
  padding: 80px 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li {
      width: 30%;
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }

  p {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: gray;
    padding-bottom: 5px;
  }
}
