.man_contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  a {
    display: block;
    width: auto;
    img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
  }
}

.brands img:hover {
  cursor: pointer;
}

.sale {
  margin-top: 80px;
  background-color: #800009;
  a {
    display: block;
    width: auto;
    img {
      display: block;
      margin: 0 auto;
      object-fit: cover;
    }
  }
}
