.button a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;

  background: #4caf50;
  padding: 0.7em 1.5em;
}

.button a:hover {
  background: #38833b;
}

.button a:active {
  background: #2e6b30;
}
