.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  a {
    display: block;
    width: auto;
    img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
      opacity: 50%;
    }
  }
}

.brands img:hover {
  opacity: 100%;
}
