body {
  margin: 0;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #444;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
