.social {
  display: flex;
  align-items: center;
  padding: 20px 0;

  i {
    padding: 0 30px;
  }
}
.social i:hover {
  color: #ddd;
  cursor: pointer;
}
.social_links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid rgb(185, 182, 182);
}

.f {
  font-size: 25px;
  color: rgb(21, 10, 126);
}

.i {
  font-size: 26px;
  color: rgb(122, 10, 126);
}

.v {
  font-size: 26px;
  color: rgb(21, 55, 150);
}

.cards {
  width: 60%;
  padding-left: 30px;
}

.border {
  border-top: 1px solid #eee;
}
