.navbar__top {
  background-color: #2d2d2d;

  color: #fff;
}

.navbar__top__wrapper {
  position: relative;

  display: flex;
  align-items: center;

  justify-content: space-between;
}

.logo {
  padding-right: 5px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.logo a:hover {
  cursor: pointer;
  color: #808080;
  transition: linear 0.2s;
}

.logo__first {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;

  margin-right: 10px;
  position: relative;
  top: 10px;
  left: 0;
}

.logo__second {
  position: absolute;

  font-size: 35px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  position: relative;
}

.gender {
  display: flex;

  align-items: center;
  align-self: stretch;

  border-left: 1px solid #525050;
}

.gender__inner {
  width: 125px;
  height: 100%;
  line-height: 70px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: #2d2d2d;
}

.gender__inner:hover {
  background-color: #474646;
}

.gender__inner.active.gender__inner {
  background-color: #525050;
}

.form {
  position: relative;
}

.form input {
  width: 700px;
  height: 40px;

  padding-left: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #525050;

  border-radius: 20px;
  border: 0;
}

.form input:focus {
  outline: none;
  border: 1px solid #1e88df;
  box-shadow: 0 0 5px #1e88df;
  transition: linear 0.2s;
}

.form i {
  font-size: 20px;
  color: #2d2d2d;

  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  a {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
}

.links a:hover {
  color: #808080;
}

.count {
  height: 17px;
  width: 17px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  background-color: red;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;

  position: absolute;
  top: 22px;
  right: 0;
}
