.card__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  h1 {
    margin: 20px 0;

    font-size: 14px;
    font-weight: normal;
  }

  h2 {
    font-size: 18px;
  }
}

.card__item:hover {
  cursor: pointer;
}

.image {
  height: 400px;
  overflow: hidden;
}
