.wrapper {
  background-color: #ddd;

  letter-spacing: 0.05em;
}

.copyright {
  display: flex;
  justify-content: space-between;

  font-size: 10px;

  padding: 20px;
}

.links {
  display: flex;

  a {
    color: #444;
    text-decoration: none;
    padding-left: 8px;
  }
}

.decoraite {
  padding-right: 8px;
  border-right: 1px solid #444;
}

.links a:hover {
  color: #1e88df;
  transition: linear 0.2s;
}
