.drower_auth {
  display: flex;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid grey;
  border-top: none;

  position: absolute;
  z-index: 10;
  right: 0px;
  top: 57px;

  max-height: 0px;
  overflow: hidden;
  border: none;
  transition: 0.2s ease-out;
}

// .drower_auth::before {
//   content: "";
//   width: 0;
//   border-right: 15px solid transparent;
//   border-left: 15px solid transparent;
//   border-bottom: 11px solid #eee;

//   position: absolute;
//   top: -px;
//   right: 0;
//   opacity: 0;
//   transition: opacity 0.6s;
//   transition-delay: 0.25s;
//   z-index: 1;
// }

.drower_auth.active.drower_auth {
  top: 65px;
  max-height: 400px;
  transition: 0.2s ease-in;
  border: 1px solid #eeeeee;
  border-top: none;
}

.drower_links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  a {
    font-size: 15px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    color: #2d2d2d;
    text-decoration: none;
    display: block;
    i {
      font-size: 22px;
      padding-right: 10px;
    }
  }
}

.drower_links a:hover {
  color: #1e88df;
}
.auth {
  height: 50px;
  background-color: #eee;
  button {
    padding: 0 20px;
    border: none;
    outline: none;
    border-color: inherit;
    text-decoration: underline;
    font-size: 15px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    color: #666;
  }
}

.auth button:hover {
  color: #1e88df;
}
