.navbar__bottom {
  background-color: #525050;
}

.nav {
  ul {
    display: flex;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

.nav__item {
  position: relative;
  padding: 20px 25px;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;

  text-decoration: none;
  transition: color 0.2s linear;
}

.nav__item:hover {
  background-color: #eee;
  color: #2d2d2d;

  cursor: pointer;
}

.nav__item:first-child {
  display: block;
  background-color: #cf1146;
  // clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.nav__item:first-child:hover {
  background-color: #eee;
  color: #2d2d2d;
  clip-path: none;

  cursor: pointer;
}

.drower {
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #eee;
  position: absolute;
  top: 60px;
  left: -50px;
  z-index: 200;

  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #505050;
  text-decoration: none;

  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 0;
  li {
    padding-bottom: 15px;
    list-style: none;
  }
  a {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #808080;
    text-decoration: none;
  }

  max-height: 0px;
  overflow: hidden;
  border: none;
  transition: 0.2s ease-out;
}

.drower.show.drower {
  top: 59px;
  max-height: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: 0.2s ease-in;
}

.drower a:hover,
li:hover {
  color: #1e88df;
  transition: linear 0.2s;
  cursor: pointer;
}
