.auth_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ddd;
  padding-top: 50px;

  font-size: 15px;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  color: #7a7a7a;
  text-decoration: none;
  display: block;

  a {
    color: #2d2d2d;
    text-decoration: none;
  }
}

.auth_page input {
  padding-left: 20px;
  width: 400px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;

  border: 1px solid #767676;
}

.auth_block {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}

.logo {
  position: relative;
  padding: 5px 25px 5px 0;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
  color: #1e88df;
  transition: linear 0.2s;
}

.logo__first {
  display: inline-block;
  position: absolute;

  font-size: 12px;
  font-weight: 500;
  font-style: italic;

  margin-right: 10px;
  top: -25px;
  left: 0;
}

.logo__second {
  display: inline-block;
  position: relative;

  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;

  button {
    margin: 25px 0;
    background-color: #2d2d2d;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

.form button:hover {
  cursor: pointer;
  background-color: grey;
  transition: linear 0.2s;
}

.auth {
  display: flex;

  button {
    width: 200px;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 15px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #767676;
    border-bottom: 2px solid #d0d0d0;
    margin: 0 10px;
    margin-bottom: 20px;
  }
}

.auth button:hover {
  cursor: pointer;
  color: #d0d0d0;
  transition: linear 0.2s;
}
