.page__product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 40px auto;
  padding: 30px 0;

  font-size: 15px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;

  img {
    width: 80%;
  }
}

.wrapper {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.info {
  padding-bottom: 200px;
  h1 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;
  }
  a {
    color: #2d2d2d;
    padding: 0;
    font-size: 10px;
  }
}
