.info {
  display: flex;
  background-color: #eee;
  // justify-content: space-around;

  font-family: "Roboto", sans-serif;
  color: #666;

  padding: 30px;
  line-height: 30px;
  h1 {
    font-size: 15px;
    letter-spacing: 0.18em;
    font-weight: 700;
    padding-bottom: 10px;
  }

  ul {
    padding-left: 0;
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}

.info a {
  font-weight: 400;
  font-size: 12px;
  color: #666;
  letter-spacing: 0.06em;
  text-decoration: 0;
}

.info a:hover {
  color: #1e88df;
  text-decoration: underline;
}

.info_item {
  padding-right: 70px;
}
